body {
  /* margin: 0; */
  background-color:black;
  background-size: cover;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#start{
  /* margin: 5cm 8cm 0cm 8cm; */
  position: absolute;
  bottom: 5px;
  left: 600px;
  /* background-color: aliceblue; */
  /* color: brown; */
}

#setting{
  position: absolute;
  bottom: 5px;
  left: 5px;
}

#dashboard{
  position: absolute;
  bottom: 5px;
  right: 5px;
}